spring.application.name=student-profile

## PostgresSQL
spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/student-cabinet
spring.datasource.username=
spring.datasource.password=

## SpringDataJPA
spring.jpa.show-sql=true
spring.jpa.hibernate.ddl-auto=none

spring.liquibase.change-log=classpath:/db/changelog/changelog.xml

## JWT
jwt.secret.access=qBTmv4oXFFR2GwjexDJ4t6fsIUIUhhXqlktXjXdkcyygs8nPVEwMfo29VDRRepYDVV5IkIxBMzr7OEHXEHd37w==
jwt.secret.refresh=zL1HB3Pch05Avfynovxrf/kpF9O2m4NCWKJUjEp27s9J2jEG3ifiKCGylaZ8fDeoONSTJP/wAzKawB8F9rOMNg==

### Expiration in seconds
jwt.expiration.access=36000
jwt.expiration.refresh=2592000

# swagger-ui custom path
springdoc.swagger-ui.path=/docs
springdoc.swagger-ui.tags-sorter=alpha

server.port=8080

spring.jpa.properties.hibernate.show_sql=true
spring.jpa.properties.hibernate.format_sql=true
logging.level.org.hibernate.orm.jdbc.bind=trace

## File sizes
spring.servlet.multipart.max-file-size=10MB
spring.servlet.multipart.max-request-size=10MB
